footer.footer.bg-dark.py-5
  .container.grid.grid-3
    div
      h1 Studocs
      p Copyright &copy; 2020
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/features') Features
        li
          a(href='/search') Search
    .flex.social
      a(href='https://github.com/thasquirrie')
        i.fab.fa-github.fa-3x
      a(href='https://twitter.com/thasquirrie')
        i.fab.fa-twitter.fa-3x
      a(href='https://facebook.com/thadonzulu')
        i.fab.fa-facebook.fa-3x
      a(href='https://instagram.com/thadonzulu')
        i.fab.fa-instagram.fa-3x