// Navbar
.navbar
  .container.flex
    h1.logo 
      a.logo-link(href="/") Studocs
    nav
      //- -console.log('User', user)
      if user
        ul
          li
            a.logout Logout
          li
            a(href='/dashboard') Dashboard
          li
            a(href='/features') Requests
          li
            a.nav__el(href='/dashboard')
              img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              span= user.name.split(' ')[0]
      else 
        ul
          li
            a(href='/signup') Signup
          //- li
            a(href='/') Dashboard
          li
            a(href='/login') Login
          li
            a(href='/features') Requests
          li
            a(href='/') Home