<!DOCTYPE html>
html(lang='en')
  head
    block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/utilities.css')
    link(rel='stylesheet' href='/css/style.css')
    //- link(rel='stylesheet' href='/css/styles.css')
    link(rel="shortcut icon" href="/images/favicon.png")
    // <link rel="stylesheet" href="css/styles.css">
    title Studocs | #{title}

body
  // Header
  include _header

  block content 
    h1 Fuck this


    // Footer
  include _footer

  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
  //- script(src="/js/login.js")
  //- script(src='/js/signup.js')
  script(src='/js/bundle.js')
