extends base

block content
  section.container
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form#login.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email' placeholder='you@example.com' required='required' autocomplete='email')
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password' placeholder='••••••••' required='required' minlength='8' autocomplete='current-password')
        .form__group
          button.btn.btn--green Login
      .more
        p Not registered? 
          a.sign(href='/signup') Signup here
        a.sign(href='#') Forgot Password? Click here!
