@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
  --color-primary: #487eb0;
  --color-dark: #40739e;
  --color-secondary: #192a56;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

.logo {
  font-size: 2.5rem;
}

.navbar a .logo-link:hover {
  border-bottom: none;
}

/* Navbar */

.navbar {
  background-color: var(--color-primary);
  color: #fff;
  height: 10rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.5rem;
}

/* .navbar a:visited,
.navbar a:active, */
.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--color-primary);
  color: #fff;
  position: relative;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  transform: skewY(-4deg);
  background: #fff;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase h2 {
  font-size: 2rem;
}

.showcase p {
  margin: 20px 0;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 3rem;
  height: 350px;
  width: 400px;
  justify-self: flex-end;
  z-index: 100;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: none;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 5px;
}

.showcase-form input:focus {
  outline: none;
}

.stats {
  padding-top: 9rem;
  /* margin: 10rem 0; */
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.stats-heading {
  font-size: 2rem;
  max-width: 71rem;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
  color: var(--color-primary);
}

.text-secondary {
  font-size: 20px;
  font-weight: bold;
}

.list {
  background-color: var(--color-primary);
  height: 35rem;
}

/* .list .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
} */

/* .list .grid > *:first-child {
  width: 60%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  text-align: center;
  align-self: center;
} */
.list .container {
  /* width: 60%; */
}

.list .card {
  width: 80%;
  margin: 1rem auto;
  gap: 10px;
}

.list h3 {
  font-size: 14px;
}

.search {
  /* background-color: #ccc; */
  height: 25rem;
}

.search-form {
  margin: 2.6rem auto;
  text-align: center;
  background-color: #fff;
  padding: 0 2rem;
  width: 60%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
}

.search-form:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
}

.search input[type='text'] {
  height: 9rem;
  width: 70%;
  font-size: 20px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search input[type='text']:focus {
  outline: none;
}

.outline {
  background-color: #fff;
  height: 25rem;
  width: 100%;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08); */
}
.mar {
  margin: 2.6rem 0
}

div .file-name {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.content {
  padding: 10px;
  margin-bottom: 15px;
}

.books .btn {
  width: 25%;
  display: block;
  margin: 0 auto;
  text-align: center
}

/* Footer */

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer .grid, 
.footer .grid .fab {
  color: #fff;

}

nav a {
  color: #fff;
}

.flex .fa-github:hover {
  /* color: #f6f8fa; */
  color: #24292e;
}

.flex .fa-twitter:hover {
  color: #0a80e9;
}

.flex .fa-facebook:hover {
  /* color: #ffffff; */
  color: #4267B2;
  background-color: #fff;
  border-radius: 50%;
}

.flex .fa-instagram:hover {
  color: #c13584;
}
.social {
  justify-content: space-evenly;
}

/* Utilities */

.login-form {
  margin: 0 auto;
  max-width: 65rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 4rem;
  border-radius: 15px;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.signup-form {
  margin: 0 auto;
  max-width: 65rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 4rem;
  border-radius: 15px;
  margin-top: 10rem;
  margin-bottom: 10rem;
}


.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.7rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-dark);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--color-primary);
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* Login */
.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /* background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7dd56f),
    to(#28b487)
  ); */
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.login-container {
  height: 82.6vh;
}

/* User Dashboard */
.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 5rem auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--color-dark)),
    to(var(--color-secondary))
  );
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-dark));
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}

.nav--user {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  /* text-transform: uppercase; */
  /* font-size: 1.6rem; */
  text-decoration: none;
  /* display: -webkit-inline-box;
  display: -ms-inline-flexbox; */
  /* display: flex; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}

.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: var(--color-dark);
}
.alert--error {
  background-color: #eb4d4b;
}

.error {
  margin-top: 30px;
  /* position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  height: 70vh;
  /* max-width: 80rem; */
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

.outline {
  height: 17rem;
}

.outline .search-form {
  width: 100%;
}

.pdf {
  margin: 0 auto;
  display: block;
  width: 30%;
  height: 30%;
  color: var(--color-primary);
}





/* Tablets and under */
@media (max-width: 884px) {
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 4rem;
  }

  .showcase-form {
    justify-self: center;
  }
}

@media (max-width: 768px) {
  /* .grid, */
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .search-form {
    margin: 2.6rem auto;
    text-align: center;
    background-color: #fff;
    padding: 0 2rem;
    width: 60%;
  }

  .search input[type='text'] {
    height: 9rem;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px
    background-color: transparent;
    border: 1px solid #fff;
  }

  .search input[type='submit'] {
    
  }
}

/* Mobile */
@media (max-width: 600px) {
  .list .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  .user-view__menu {
    /* flex-direction: column;
    color: red; */
    flex: 18rem 0 0;
    padding: 4rem 0;
  }

  .side-nav a:link,
  .side-nav a:visited {
    padding: 1rem 1rem;
  }

  .side-nav svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
  }

  .books .btn {
    width: 90%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
  .navbar {
    height: 11rem;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .showcase-form {
    height: auto;
    width: 300px;
  }

  .stats .grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer {
    margin: 0 auto;
    text-align: center;
  }

  .footer .grid-3 {
    grid-template-columns: 1fr;
  }

  .user-view__menu {
    /* flex-direction: column;
    color: red; */
    flex: 10rem 0 0;
    padding: 4rem 0;
  }

  .side-nav a:link,
  .side-nav a:visited {
    padding: 1rem 1rem;
  }

  .side-nav svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
  }

  .search-form {
    /* margin: 0; */
    width: 96%;
  }

  .outline {
    height: 15rem;
  }

  section {
    padding: 1rem;
  }

  .center {
    text-align: center;
    width: 100%;
    margin: 10px;
  }


  @media (max-width: 388px) {
    .search-form {
      width: 100%;
    }
  }
}
